.cpy-btn {
  background-color: #fff;
  width: 100px;
  height: 30px;
  border: 1px solid #454545;
  border-radius: 10px;
  font-weight: 600;
  overflow: hidden;
  transition-duration: 700ms;
}

.cpy-btn span:first-child {
  color: #000;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "GilroySemiBold";
  font-weight: 500;
}

.cpy-btn span:last-child {
  position: absolute;
  color: #fff;
  opacity: 0;
  transform: translateY(100%) translateX(-50%);
  height: 14px;
  line-height: 13px;
  font-family: "GilroySemiBold";
  font-weight: 500;
}

.cpy-btn:focus {
  background-color: #daa520;
  border: none;
  width: 120px;
  height: 40px;
  transition-delay: 100ms;
  transition-duration: 500ms;
}

.cpy-btn:focus span:first-child {
  color: #b5ccf3;
  transform: translateX(-50%) translateY(-150%);
  opacity: 0;
  transition-duration: 500ms;
}

.cpy-btn:focus span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition-delay: 300ms;
  transition-duration: 500ms;
}

.cpy-btn:focus:end {
  background-color: #ffffff;
  width: 120px;
  height: 40px;
  transition-duration: 900ms;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
